[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~=11.0"

[dev-packages]
ansible-lint = "~=25.0"
molecule-plugins = {extras = ["vagrant"], version = "*"}
molecule = "~=25.0"

[requires]
python_version = "3.11"
