---
- name: Metadata > Facts
  ansible.builtin.setup:
    gather_subset:
      - all

- name: Metadata > Prerequisites > OS
  ansible.builtin.assert:
    that:
      - ansible_distribution == "Debian"
      - ansible_distribution_major_version in ["12", "13"]
    success_msg: "This role is supported on Debian {{ ansible_distribution_major_version }}"
    fail_msg: "This role is only supported on Debian 12 and 13"

- name: Metadata > Prerequisites > Architecture
  ansible.builtin.assert:
    that:
      - ansible_architecture in ["x86_64", "aarch64"]
    success_msg: "This role is supported on {{ ansible_architecture }} architecture"
    fail_msg: "This role is only supported on amd64 (x86_64) and arm64 (aarch64) architectures"

- name: Metadata > Directory
  ansible.builtin.file:
    state: directory
    owner: root
    group: root
    mode: "0755"
    path: "{{ metadata_directory }}"
