---
- name: Standard Debian
  hosts: localhost
  connection: local
  gather_facts: true
  become: true
  tasks:
    - name: Print Usage
      when: help | default(h) | default(false)
      failed_when: help | default(h) | default(false)
      ansible.builtin.debug:
        msg:
          - "Usage: @adaptivegears/standard-debian [OPTIONS]"
          - "Options:"
          - "  -h, --help          Show this help message and exit"
          - "  -i, --install       Install packages (DEBIAN_INSTALL, default: true)"
          - "  -p, --prune         Prune unused packages (DEBIAN_PRUNE, default: false)"
          - "  --hostname          Set hostname (env: DEBIAN_HOSTNAME)"
          - "  --topology-region   Set topology region (env: DEBIAN_TOPOLOGY_REGION)"
          - "  --topology-zone     Set topology zone (env: DEBIAN_TOPOLOGY_ZONE)"
          - "Examples:"
          - "  $ bootstrap -- @adaptivegears/standard-debian"
          - "  $ bootstrap -- @adaptivegears/standard-debian --prune"

    - name: Set Facts
      ignore_errors: true
      ansible.builtin.set_fact:
        debian_hostname: "{{ lookup('env', 'DEBIAN_HOSTNAME') | default(hostname, true) | default(omit, true) }}"
        debian_install: "{{ lookup('env', 'DEBIAN_INSTALL') | default(install, true) | default(i, true) | default(omit, true) }}"
        debian_prune: "{{ lookup('env', 'DEBIAN_PRUNE') | default(prune, false) | default(p, false) | default(omit, true) }}"
        metadata_topology_region: "{{ lookup('env', 'DEBIAN_TOPOLOGY_REGION') | default(topology_region, true) | default(omit, true) }}"
        metadata_topology_zone: "{{ lookup('env', 'DEBIAN_TOPOLOGY_ZONE') | default(topology_zone, true) | default(omit, true) }}"

    - name: Include Role
      ansible.builtin.include_role:
        name: debian
